
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resolucion</title>
</head>
<body>
    <div> 
        <center>
            <center>
                <h1>Resultado</h1> <br />
                Estado: @Model.Msj; <br />
                Situacion: @Model.Msj2 <br />
                Resultado: @Model.R<br />
                Su diferencia es de: @Model.Msj3<br />
            </center>
            
        </center>
    </div>
</body>
</html>
