
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>resultado_deportista</title>
</head>
<body>
    <div> 
        <center>
            <h1>RESULTADOS DE LA CONSIGNACION DE ATLETA</h1> <br /><br />
            Edad: @Model.Edad<br />
            Estatura: @Model.Estatura<br />
            Peso:@Model.Peso<br />
            Resultados de la evaluacion al atleta perfecto: @Model.Msj<br />
        </center>
        
    </div>
</body>
</html>
